<!DOCTYPE html>
<html>
<head>
    <title>Query Submission Notification</title>
</head>
<body>
    <p>Dear Admin/Evaluation Department,</p>
    <p>This is to inform you that our client, <b>{{ doc.client_name }}</b>, has successfully submitted a query titled <b>{{ doc.name }}</b> about <b>{{ doc.raw_material }}</b>.</p>
    <p>The query has been forwarded to the Evaluation Department for further processing.</p>
    <p>Please review the query and respond accordingly within the next 24 hours.</p>
    <p>If you have any further questions or require additional information, please do not hesitate to contact us.</p>
    <p>Best regards,</p>
    <p><i>System Generated Email</i></p>
</body>
</html>
